apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: "{{ .Values.appName }}"
spec:
  type: kv-v2

  # mount path
  mount: srp

  # path of the secret
  path: "favie/{{ .Values.appName }}/env"
  version: {{ .Values.configVersion }}

  # dest k8s secret
  destination:
    name: "vault-{{ .Values.appName }}-env-secret"
    create: true
    transformation:
      excludeRaw: true

  # static secret refresh interval
  refreshAfter: 10s

  hmacSecretData: true

  # Name of the CRD to authenticate to Vault
  vaultAuthRef: reader
  rolloutRestartTargets:
  - kind: Deployment
    name: "{{ .Values.appName }}-deployment"